<h1>Users</h1>

<% if flash[:error] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:error] %></strong>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong>User created succesfully</strong>
  </div>
<% end %>

<p>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
    <% if @users.count == 0 %>
      <tr>
        <td colspan="5" style="text-align: center;"><b>No users available</b></td>
      </tr>
      <% end %>
        <% @users.each do |u| %>
          <tr>
            <td>
              <%= u.id %>
            </td>
            <td>
              <%= u.name %>
            </td>
            <td>
              <%= u.email %>
            </td>
            <td>
              <%= u.created_at %>
            </td>
            <td>
              <%= u.updated_at %>
            </td>
          </tr>
          <% end %>
  </table>
</p>
<p>
  <%= link_to "Create new user", :action => :new %>
</p>