<h1>Posts</h1>

<p>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>Author</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
    <% if @posts.count == 0 %>
      <tr>
        <td colspan="5" style="text-align: center;"><b>No posts available</b></td>
      </tr>
    <% end %>
    <% @posts.each do |p| %>
      <tr>
        <td>
          <%= p.id %>
        </td>
        <td>
          <%= p.content %>
        </td>
        <td>
          <%= p.author %>
        </td>
        <td>
          <%= p.created_at %>
        </td>
        <td>
          <%= p.updated_at %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Create new post", url_options = { :action => :new }, html_options = { :class => "btn btn-primary" } %>
</p>
